@media screen and (max-width: 800px) {
    .about{

        .about-nav{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 100% !important;
            height: auto !important;
            z-index: 8;
            padding: 0 !important;
            margin: 0 !important;
            
            
        }

        .aboutnav{
            list-style: none;
            flex-direction: column !important;
            padding: 0;
            

            .hidden{
                transition: transform 300ms ease-in-out;
                display: none;

            }

        }


        
        
        
            svg{
                margin: 0 10px;
                right: 0 !important;
                
                justify-self: flex-end;
                height: 10%;
                padding-top: 5px;
            }



            .bi-caret-down-fill {
                cursor: pointer;
                transition: transform 0.3s ease-in-out;
            }
            
            .bi-caret-down-fill.rotate {
                transform: rotate(180deg);
            }
            .aboutnav.expand {
                display: flex;
                max-height: 300px;
                opacity: 1;
                transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
            }

            .aboutnav.collapse {
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
            }

            .caret-icon{
                display: flex;

            }
        
        

        

        .aboutInfo{
            position: relative;
        }
        #meet{
            flex-direction: column;
            
            .intro{
                width: 100% !important;
                padding: 2px !important;
            }
        }
        

        
    }
  }

  @media screen and (min-width: 800px){
    .caret-icon{
        display: none;
    }
    
  }

 