@media screen and (max-width: 800px){
   
        .contact-nav{
            display: flex;
            flex-direction: row;
            height: 15%;
            padding: 2px;

            .a:hover{
                color: rgb(220, 5, 109) !important;
            }
            
            
        }
    }
