.App {
  background-color: black;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 100dvh;
  width: 100vw;
  border: 2px solid red;
  overflow-x: hidden;
  


  

  #navbar {
    display: flex;
    justify-content: flex-end;
    border: 2px solid pink;
    text-align: center;
    
    

    .nav-item {
      
      font-size: clamp(1rem, 2.329rem + 1.754vw, 0.75rem);
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 10rem;
      padding: 0.5em 1em;
      border: 2px solid pink;
    }

    .nav-link {
      color: pink;
      width: 100px;
    }
    .nav-link:hover {
      color: rgb(231, 65, 145);

    }

    .active {
      color: rgb(253, 253, 253);
    }
    

    
  

  
}

#home {
  

  .greeter {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    border: red 2px solid;
    gap: 20px;
    width: 100%;
    

    .bot {
      
      width: 60%;
      max-width: 500px;
      height: auto;
      left: 5%;
      border: red 2px solid;
      padding: 0;
      margin: 0;
      display: block;
    }

    .tektur-greeting {
      font-family: "Tektur", sans-serif;
      font-size: clamp(2rem, -3.25rem + 6.667vw, 2.75rem);
      font-weight: 500;
      color: rgb(253, 253, 253);
      right: 0;
      text-align: center;
      border: red 2px solid;
      font-style: normal;
      width: 90%;
      max-width: 400px;
    }
    .scrollDown {
      position: absolute;
      width: 100px;
      height: auto;
      bottom: 0;
      
    }
  }
}

#about {
  background-color: black;
  display: flex;
  .about {
    font-size: clamp(1rem, 0.464rem + 1.429vw, 1.2rem) !important;
    
    background-color: black;
    
    align-items: center;
    background-color: rgb(255, 102, 153);
    padding: 5px;
    margin: 0 10px;
    border-radius: 10px;
    height: 70%;

    .about-nav {
      display: flex;
      justify-content: space-around;
      height: 50px;
      padding: 20px;
      margin: 20px 0;
      font-family: "Tektur", sans-serif;
      font-weight: 200;
      

      
    }

    .aboutnav{
      
      list-style: none;
      display: flex;
      flex-direction: row;
      
    }
  
    .nav-item {
      width: 200px;
      text-align: center;
      color: aliceblue;
      
    }
  
    .nav-link {
      color: pink;
      width: 200px;
    }
    .nav-link:hover {
      color: rgb(132, 13, 71);
    }
  
    .active {
      color: rgb(16, 1, 1);
    }
  }

  
  

  #meet {
    display: flex;
    justify-content: center;
    align-items: center;
    .propic {
      width: 40%;
      margin: 30px;
      width: 300px;
      height: 300px;
      box-shadow: 2px 2px 6px 4px rgb(87, 11, 44);
      border-radius: 300px;
    }
    .intro {
      font-family: "Source Serif 4", serif;
      color: rgb(0, 0, 0);
      
      align-self: center;
      justify-self: center;
      margin-top: 20px;
      font-weight: 500;
      font-style: normal;
      padding: 0 10px;
      text-align: justify;
      left: 10%;
      width: 60%;
    }
  }

  #education {
    display: block;
    margin: 5%;
    padding: 0 10px;
    font-family: "Source Serif 4", serif;
    
    .twoColEntry {
      display: flex;
      justify-content: space-between;

      .tmu {
        display: flex;
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  }
  #more {
    font-family: "Source Serif 4", serif;
    color: rgb(0, 0, 0);
    
    align-self: center;
    justify-self: center;
    margin: 10%;
    font-weight: 500;
    font-style: normal;
    padding: 0 10px;
    text-align: justify;
    width: 80%;
  }
}

  #projects {
    background-color: black;

    padding: 5% 0;

    font-family: "Tektur", sans-serif;
    font-size: clamp(2rem, 2rem + 0.476vw, 1rem);
    font-weight: 500;

    color: rgb(253, 253, 253);

    text-align: center;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    h3 {
      font-size: clamp(2.5rem, 2rem + 0.476vw, 1rem);
    }
    .row {
      padding: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .project {
      display: flex;
      text-align: center;

      justify-content: center;
      width: 20%;
      transition: transform 0.3s ease-in-out;
      border: 2px solid red;

      .img {
        width: 200px;
        height: 200px;
        border-radius: 300px;
      }
      a {
        color: white;
        text-decoration: none;
        display: block;

        h5 {
          margin-top: 20px;
          padding: 10px 0;
        }
      }
      a:hover {
        color: rgb(220, 5, 109);
      }
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    .projectSlider {
      display: flex;
      gap: 30px;
      animation: scroll 10s linear infinite;
      width: max-content;
    }

    .projectContainer {
      width: 100%;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
    }

    .projectSlider:hover {
      animation-play-state: paused;
    }
  }

  #contact {
    background-color: black;
    color: white;
    font-family: "Tektur", sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 2px solid red;
    
    .container{
      .contact-nav{
        display: flex;
        list-style: none;
      }

      .img {
        display: flex;
        justify-content: center;
        .envelope {
          width: 40%;
        }
      }
      a {
        background-color: black;
        color: white;
      }
      a:hover {
        color: rgb(220, 5, 109);
      }
      .icons {
        border: 2px solid red;
        width: 50px;
      }
      p {
        font-family: "Source Serif 4", serif;
        font-size: 20px;
      }
    }

    
  }
}